@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap');

nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  color: black;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  padding: 20px 0px;
}

