@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: #3a3838;
    background-size: 100% 100%;
    font-family: "Quicksand", sans-serif;
    margin: 0 auto;
    color: #ffffff;
}

#heading {
    padding: 10px 0px 0px 0px;
    font-family: "Permanent Marker", cursive;
    font-size: 6.5rem;
    color: #ffffff;
}

#tagline {
    padding: 0px 0px 50px 0px;
    font-family: "Staatliches", cursive;
    font-size: 1.9rem;
    color: #ffffff;
}

.bio {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 1rem;
}

#description {
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.albumImg {
    margin: 1rem;
}

.card {
    border: 1px solid black;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 21rem;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px rgb(125, 121, 121);
}

.row {
    display: inline-block;
    align-content: space-around;
}

.column {
    display: flex;
    justify-content: center;
    margin: 0px 50px;
}

#greeting-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px 10px;
    background-color: #aaa3a399;
    width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 0.9rem;
}

#greeting-container > h3 {
    padding-bottom: 8px;
}

i {
    padding-top: 20px;
}

input {
    padding: 3px;
    margin: 3px;
}

#drake-gif {
    margin: 20px 0px;
    width: 12rem;
    align-self: center;
}

.pages-heading {
    font-size: 4rem;
    text-align: center;
    font-family: "Staatliches", cursive;
}

.about-container {
    padding-top: 30px;
    margin-bottom: 80px;
}

#about-drake {
    height: 100vh;
}

#lyrics {
    height: 100vh;
}

.lyrics-row {
    padding: 80px;
    margin: 0px 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.lyrics-container {
    margin-top: 30px;
    margin-bottom: 80px;
}

.homepage-container {
    background-image: linear-gradient(
            to bottom,
            rgba(34, 32, 32, 0.65),
            rgba(68, 65, 65, 0.65)
        ),
        url("https://images.hdqwalls.com/download/drake-singer-db-2880x1800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100vh;
}

.albums-container {
    margin-top: 30px;
    height: 100vh;
    width: 100vw;
}

i {
    font-size: 1.8rem;
    margin: 0px 15px;
    margin-bottom: 20px;
    padding-top: 14px;
}

i:hover {
    color: #1d1b1b96;
}
