@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        to bottom,
        #3a3838,
        rgba(68, 65, 65, 0.65)
    );
    background-size: 100% 100%;
    font-family: "Quicksand", sans-serif;
    margin: 0 auto;
    color: #ffffff;
    height: 100%;
}

#heading {
    padding: 10px 0px 0px 0px;
    font-family: "Permanent Marker", cursive;
    font-size: 6.5rem;
    color: #ffffff;
}

#tagline {
    padding: 0px 0px 50px 0px;
    font-family: "Staatliches", cursive;
    font-size: 1.9rem;
    color: #ffffff;
}

.bio {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 650px;
    margin: 0 auto;
    padding-bottom: 45px;
    font-size: 1rem;
}

#description {
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}


.card {
    background-color: #ebebeb;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin: 0px 1px;
    padding: 8px 10px 0px 10px;
    margin-top: 30px;
}

.row {
    justify-content: space-evenly;
}

.card:hover {
    box-shadow: 2px 3px 5px rgb(205, 205, 205);
    transition: all 0.2s ease-out;
    top: -4px;
  }

  .card-link {
    color: black;
    text-decoration: underline;
    padding-bottom: 5px;
}

.card-title {
    font-size: 1.5rem;
}


#greeting-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 6px 15px;
    background-color: #aaa3a399;
    width: 330px;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 0.9rem;
}

#greeting-container > h3 {
    padding-bottom: 8px;
    font-size: 1.3rem;
}

i {
    padding-top: 15px;
}

input {
    padding: 3px;
    margin: 3px;
}

#drake-gif {
    margin: 20px 0px;
    width: 12rem;
    align-self: center;
}

.pages-heading {
    font-size: 4.5rem;
    text-align: center;
    font-family: "Staatliches", cursive;
    margin-top: 40px;
}

.about-drake {
    padding: 30px 50px;
}

h4 {
    padding: 30px 0px 5px 0px;
}

.lyrics-row {
    padding: 35px;
    margin: 0px 250px;
    background-color: rgba(255, 255, 255, 0.3);
}

.container {
    height: 100vh;
}

.lyrics-container {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.lyrics-page {
    height: 100%;
    margin-bottom: 50px;
}

.homepage-container {
    background-image: linear-gradient(
            to bottom,
            rgba(34, 32, 32, 0.65),
            rgba(68, 65, 65, 0.65)
        ),
        url("https://images.hdqwalls.com/download/drake-singer-db-2880x1800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100vh;
}

.albums-container {
    margin-top: 30px;
    margin-bottom: 50px;
    height: 100vh;
}

i {
    font-size: 1.8rem;
    margin: 0px 15px;
    margin-bottom: 20px;
    padding-top: 14px;
}

i:hover {
    color: #1d1b1b96;
}

.lyrics-btn {
    font-size: 0.9rem;
    margin: 20px 0px;
    font-family: "Quicksand", sans-serif;
    padding: 8px;
    background-color: #3a3838;
    color: white;
}
